In [2]:
# Učitavanje potrebnih biblioteka
import pandas as pd
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', 1000)

# Učitavanje podataka iz CSV datoteke
PATH = "../data/cars_data_original.csv"

# Učitavanje svih podataka
data = pd.read_csv(PATH, delimiter=',')

# Ispis prvih 5 redova
print(data.head())

           model  year  price transmission  mileage fuelType  tax   mpg  engineSize Manufacturer
0            I10  2017   7495       Manual    11630   Petrol  145  60.1         1.0       hyundi
1           Polo  2017  10989       Manual     9200   Petrol  145  58.9         1.0   volkswagen
2       2 Series  2019  27990    Semi-Auto     1614   Diesel  145  49.6         2.0          BMW
3   Yeti Outdoor  2017  12495       Manual    30960   Diesel  150  62.8         2.0        skoda
4         Fiesta  2017   7999       Manual    19353   Petrol  125  54.3         1.2         ford

In [20]:
# Ispis dimenzija skupa podataka (potrebno je učitati sve podatke radi analize, ne samo prvih 2000 redova)
print(data.shape)

(97712, 10)

In [21]:
# Ispis imena stupaca i nedostajućih vrijednosti
print(data.isna().sum())

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
Manufacturer    0
dtype: int64

In [22]:
# Ispis broja jedinstvenih vrijednosti po stupcima
print(data.nunique())

model             195
year               27
price           13236
transmission        4
mileage         42214
fuelType            5
tax                48
mpg               208
engineSize         40
Manufacturer        9
dtype: int64

In [23]:
# Ispis tipova podataka po stupcima (analiza kvanitativnih i kvalitativnih varijabli)
print(data.dtypes)

model            object
year              int64
price             int64
transmission     object
mileage           int64
fuelType         object
tax               int64
mpg             float64
engineSize      float64
Manufacturer     object
dtype: object

In [24]:
# Ispis broja jedinstvenih vrijednosti po stupcima
for column in data:
    print(data[column].value_counts())
    input("...")

model
 Fiesta     6509
 Golf       4797
 Focus      4555
 C Class    3694
 Corsa      3285
            ...
 A2            1
 Amica         1
 RS7           1
 Accent        1
220            1
Name: count, Length: 195, dtype: int64
year
2019    26165
2017    21616
2016    15724
2018    13570
2015     7586
2014     4053
2020     4040
2013     2590
2012      633
2011      432
2010      340
2009      277
2008      199
2007      163
2006       86
2005       69
2004       52
2003       34
2002       31
2001       20
2000        9
1998        8
1999        6
1997        4
1996        2
1970        2
2024        1
Name: count, dtype: int64
price
9995     585
8995     490
10995    469
12995    442
11995    428
        ...
30045      1
8707       1
20885      1
14715      1
29298      1
Name: count, Length: 13236, dtype: int64
transmission
Manual       55502
Semi-Auto    22296
Automatic    19905
Other            9
Name: count, dtype: int64
mileage
10       647
5000     641
1000     615
6000     456
3000     371
        ...
51250      1
14605      1
11623      1
21208      1
30960      1
Name: count, Length: 42214, dtype: int64
fuelType
Petrol      53982
Diesel      40419
Hybrid       3059
Other         246
Electric        6
Name: count, dtype: int64
tax
145    47377
150    10816
30      8423
20      8248
125     6562
0       6259
200     2424
160     2056
135     1217
205      696
165      679
235      662
260      530
140      369
300      341
240      202
325      185
265      174
305       99
555       78
570       57
330       51
10        25
565       22
190       19
195       16
120       14
115       12
155       12
580       10
230       10
270        9
315        8
220        7
540        6
280        6
290        6
185        5
250        4
255        3
245        3
110        2
210        2
130        2
295        1
535        1
520        1
515        1
Name: count, dtype: int64
mpg
60.1    6109
65.7    4669
54.3    3943
64.2    3563
51.4    3555
        ...
25.0       1
30.8       1
22.3       1
44.6       1
11.0       1
Name: count, Length: 208, dtype: int64
engineSize
2.0    26886
1.0    17083
1.5    11247
1.4    10893
1.6     8700
1.2     6718
3.0     5395
2.1     3970
1.8     1715
1.3     1307
1.7      907
1.1      558
2.2      466
2.5      454
4.0      355
0.0      268
2.9      170
2.3      145
4.4       79
2.4       72
5.0       52
5.5       44
2.8       41
1.9       27
3.2       27
4.2       26
4.7       24
5.2       23
3.5       20
6.2       13
2.7        8
0.6        7
4.1        2
3.7        2
6.0        2
6.6        2
4.5        1
5.4        1
4.3        1
6.3        1
Name: count, dtype: int64
Manufacturer
ford          17811
volkswagen    14893
vauxhall      13258
merc          12860
BMW           10664
Audi          10565
toyota         6699
skoda          6188
hyundi         4774
Name: count, dtype: int64

In [25]:
# highest year value
print(data['year'].max())

2024

In [26]:
# Ispis najmanje i najveće kilometraže
print(data['mileage'].min())
print(data['mileage'].max())
# Ispis medijana i prosjeka kilometraže
print(data['mileage'].median())
print(data['mileage'].mean())
# Ispis standardne devijacije kilometraže
print(data['mileage'].std())
# Ispis varijance kilometraže
print(data['mileage'].var())
# Ispis kvartila kilometraže
print(data['mileage'].quantile(0.25))

1
323000
17682.5
23219.475499426888
21060.882301464
443560763.3161195
7673.0

In [27]:
# analiza veličine motora
print(data['engineSize'].min())
print(data['engineSize'].max())

# broj redava koji imaju engineSize == 0
print(data[data['engineSize'] == 0].shape[0])

0.0
6.6
268

In [28]:
# prikaz svih redaka koji imaju engine size 0.0 - ispiši sve retke
# Budući da 268 motora imaju obujam motora 0.0 upućuje na podatak koji ne postoji ili je pogrešno unesen
print(data[data['engineSize'] == 0.0])

           model  year  price transmission  mileage fuelType  tax    mpg  engineSize Manufacturer
449           i3  2017  19895    Automatic    29851   Hybrid    0  470.8         0.0          BMW
969           i3  2016  14900    Automatic    59945   Hybrid    0  470.8         0.0          BMW
1985    3 Series  2018  18000    Automatic    24240   Diesel  150   64.2         0.0          BMW
2219       Astra  2017  11000       Manual    14878   Petrol  145   51.4         0.0     vauxhall
3290         I10  2015   7500       Manual    13637   Petrol   30   57.6         0.0       hyundi
...          ...   ...    ...          ...      ...      ...  ...    ...         ...          ...
95623     Fiesta  2018  12999       Manual    15000   Petrol  150   58.9         0.0         ford
95625        I20  2017  11400    Automatic    12661   Petrol  145   44.1         0.0       hyundi
96910     Mondeo  2013   5328       Manual   105000   Diesel   30   65.7         0.0         ford
97033        I10  2016   6300       Manual    17272   Petrol   20   61.4         0.0       hyundi
97248         A3  2019  23444    Automatic     1500   Petrol  145   44.1         0.0         Audi

[268 rows x 10 columns]

In [29]:
# Ispis imena stupaca
print(data.columns.values)

['model' 'year' 'price' 'transmission' 'mileage' 'fuelType' 'tax' 'mpg'
 'engineSize' 'Manufacturer']

In [30]:
print(data['Manufacturer'].unique())

['hyundi' 'volkswagen' 'BMW' 'skoda' 'ford' 'toyota' 'merc' 'vauxhall'
 'Audi']

In [31]:
print(data['year'].unique())

[2017 2019 2018 2016 2020 2015 2014 2013 2008 2011 2010 2012 2007 2009
 2003 1998 2006 2002 2005 2004 2001 2000 1997 1999 1996 2024 1970]

In [32]:

print(data['model'].unique())

[' I10' ' Polo' ' 2 Series' ' Yeti Outdoor' ' Fiesta' ' C-HR' ' Kuga'
 ' Tiguan' ' A Class' ' 1 Series' ' Up' ' Golf' ' Corsa' ' RAV4'
 ' GLA Class' ' Aygo' ' Q5' ' Karoq' ' Scala' ' Auris' ' Tucson' ' A4'
 ' Viva' ' Kodiaq' ' C Class' ' Mondeo' ' Citigo' ' Yaris' ' X4'
 ' Octavia' ' Astra' ' Focus' ' 3 Series' ' GLC Class' ' Q3' ' B-MAX'
 ' C-MAX' ' IX20' ' X5' ' T-Cross' ' Shuttle' ' Insignia' ' Zafira' ' A3'
 ' A5' ' SL CLASS' ' EcoSport' ' X1' ' Fabia' ' Golf SV' ' Verso' ' Yeti'
 ' Mokka X' ' Antara' ' E Class' ' 4 Series' ' Superb' ' 5 Series'
 ' 8 Series' ' B Class' ' Ka+' ' X2' ' GLE Class' ' A6' ' Mokka' ' Passat'
 ' Kamiq' ' Adam' ' Q7' ' Tiguan Allspace' ' X3' ' A1' ' Grandland X'
 ' Meriva' ' Tourneo Connect' ' Arteon' ' TT' ' GLS Class' ' Santa Fe'
 ' I30' ' S Class' ' Ioniq' ' Edge' ' S-MAX' ' SLK' ' Crossland X'
 ' 7 Series' ' T-Roc' ' Q2' ' CL Class' ' CLA Class' ' 6 Series'
 ' V Class' ' Scirocco' ' i3' ' Grand C-MAX' ' SQ5' ' X7' ' Corolla' ' A7'
 ' Touareg' ' CLS Class' ' I20' ' M Class' ' Prius' ' KA' ' GT86' ' Hilux'
 ' Galaxy' ' M4' ' I800' ' Kona' ' Touran' ' Grand Tourneo Connect'
 ' Caravelle' ' Combo Life' ' GL Class' ' Avensis' ' SQ7' ' GLB Class'
 ' RS3' ' IX35' ' GTC' ' Land Cruiser' ' X6' ' RS5' ' Puma' ' CC' ' I40'
 ' i8' ' Eos' ' Rapid' ' Amarok' ' Beetle' ' Supra' ' California' ' A8'
 ' Z4' ' Q8' ' S4' ' Sharan' ' Mustang' ' M3' ' RS4' ' RS6' ' Fox'
 ' Cascada' ' M5' ' Caddy Maxi Life' ' Vivaro' ' X-CLASS' ' M6' ' Kadjar'
 ' Caddy Maxi' ' Fusion' ' Tourneo Custom' ' Tigra' ' M2' ' Agila'
 ' Zafira Tourer' ' Vectra' ' Ranger' ' Getz' ' R8' ' Roomster' ' Jetta'
 ' Veloster' ' S5' ' S3' ' Z3' ' Ampera' ' Caddy Life' ' Urban Cruiser'
 ' S8' ' Verso-S' ' IQ' ' CLK' ' PROACE VERSO' ' R Class' ' G Class' '180'
 ' Camry' ' Caddy' ' Terracan' ' Streetka' '200' ' Escort'
 ' Transit Tourneo' ' CLC Class' '230' ' A2' ' Amica' ' RS7' ' Accent'
 '220']